@page
@model registroHoras.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegistroEntradum</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroEntradum.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroEntradum.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroEntradum.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroEntradum.Usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroEntradum.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroEntradum.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RegistroEntradum?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
